novo.json
{
  "name": "Get Pets from NestJS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pets",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "webhook-pets"
    },
    {
      "parameters": {
        "url": "http://localhost:3000/pet",
        "responseFormat": "json",
        "options": {}
      },
      "id": "2",
      "name": "HTTP Request to NestJS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [550, 300]
    },
    {
      "parameters": {
        "options": {},
        "responseBody": "={{ $json }}",
        "responseCode": 200
      },
      "id": "3",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request to NestJS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request to NestJS": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
